.shogiboardjs {
	user-select: none;
}
.shogiboardjs .board {
	position: relative;
	background-image: url("https://raw.githubusercontent.com/WandererXII/lishogi/master/public/images/board/solid-natural.png");
	background-size: 100%;
}
.shogiboardjs .pieces-in-hand {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: burlywood;
}
.shogiboardjs .pieces-in-hand > div {
	position: relative;
	width: calc(100% / 9);
}
.shogiboardjs .board-piece,
.shogiboardjs .piece-in-hand {
	position: absolute;
	background-size: 100%;
}
.shogiboardjs .board-piece {
	width: calc(100% / 9);
	height: calc(100% / 9);
}
.shogiboardjs .piece-in-hand {
	width: 100%;
	height: 100%;
}
.shogiboardjs .dragging {
	pointer-events: none;
	z-index: 3;
}
.shogiboardjs .hover {
	position: absolute;
	width: calc(100% / 9);
	height: calc(100% / 9);
	box-shadow: inset 2px 2px red, inset -2px -2px red;
}
.shogiboardjs .piece-in-hand-count {
	position: absolute;
	bottom: 2px;
	right: 2px;
	padding: 3px;
	line-height: 1;
	border-radius: 3px;
	background-color: red;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	z-index: 2;
}
.shogiboardjs .transparent {
	opacity: 0.25;
}
.shogiboardjs .bp {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0FU.svg");
}
.shogiboardjs .bl {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0KY.svg");
}
.shogiboardjs .bn {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0KE.svg");
}
.shogiboardjs .bs {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0GI.svg");
}
.shogiboardjs .bg {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0KI.svg");
}
.shogiboardjs .bb {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0KA.svg");
}
.shogiboardjs .br {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0HI.svg");
}
.shogiboardjs .bk {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0GY.svg");
}
.shogiboardjs .bpp {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0TO.svg");
}
.shogiboardjs .bpl {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0NK.svg");
}
.shogiboardjs .bpn {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0NK.svg");
}
.shogiboardjs .bps {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0NG.svg");
}
.shogiboardjs .bpb {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0UM.svg");
}
.shogiboardjs .bpr {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/0RY.svg");
}
.shogiboardjs .wp {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1FU.svg");
}
.shogiboardjs .wl {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1KY.svg");
}
.shogiboardjs .wn {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1KE.svg");
}
.shogiboardjs .ws {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1GI.svg");
}
.shogiboardjs .wg {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1KI.svg");
}
.shogiboardjs .wb {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1KA.svg");
}
.shogiboardjs .wr {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1HI.svg");
}
.shogiboardjs .wk {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1OU.svg");
}
.shogiboardjs .wpp {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1TO.svg");
}
.shogiboardjs .wpl {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1NK.svg");
}
.shogiboardjs .wpn {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1NK.svg");
}
.shogiboardjs .wps {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1NG.svg");
}
.shogiboardjs .wpb {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1UM.svg");
}
.shogiboardjs .wpr {
	background-image: url("https://raw.githubusercontent.com/Ka-hu/shogi-pieces/master/kanji_brown/1RY.svg");
}
